$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


body {
  padding: 0;
}

.gallery-cont {
  $thumbNum : 7;
  background-color: #333;

  height: 100%;
  width:100%;

  .gallery-thumb {
    width: 100% / $thumbNum;
    border: 1px solid green;
    float: left;
    height: 20vh;
  }

  .gallery-row {
    width: 100%;
    height: 20vh;
    &.main{
      height: 60vh;
    }
  }

  .gallery-col {
    width: 100% / $thumbNum;
    float: left;
    .gallery-thumb {
      width: 100%;
    }
  }

  .gallery-main {
    width: 100% - ((100% / $thumbNum) * 2);
    height: 60vh;
    float: left;
    border: 1px solid red;
    position: relative;;
    .gallery-main-img {
      position: absolute;
      width: 110%;
      background-color: orange;
      top: -10vh;
      right: -6.5vh;
      height: 80vh;
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
