<div class="gallery-cont">
  <div class="gallery-row">
    <div class="gallery-thumb"></div>
    <div class="gallery-thumb"></div>
    <div class="gallery-thumb"></div>
    <div class="gallery-thumb"></div>
    <div class="gallery-thumb"></div>
    <div class="gallery-thumb"></div>
    <div class="gallery-thumb"></div>
  </div>
  <div class="gallery-row main">
    <div class="gallery-col">
      <div class="gallery-thumb"></div>
      <div class="gallery-thumb"></div>
      <div class="gallery-thumb"></div>
    </div>
    <div class="gallery-main">
      <div class="gallery-main-img"></div>
    </div>
    <div class="gallery-col">
      <div class="gallery-thumb"></div>
      <div class="gallery-thumb"></div>
      <div class="gallery-thumb"></div>
    </div>
  </div>
  <div class="gallery-row">
    <div class="gallery-thumb"></div>
    <div class="gallery-thumb"></div>
    <div class="gallery-thumb"></div>
    <div class="gallery-thumb"></div>
    <div class="gallery-thumb"></div>
    <div class="gallery-thumb"></div>
    <div class="gallery-thumb"></div>
  </div>
</div>
